.centered-heading {
  position: absolute; /* Allows precise positioning */
  top: 40%; /* Move down 50% of the container's height */
  left: 50%; /* Move right 50% of the container's width */
  transform: translate(-50%, -50%); /* Adjust the position to be centered */
  color: white; /* White text color */
  font-size: 3rem; /* Adjust font size as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for better readability */
  text-align: center; /* Center-align text */
}

body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('/static/images/sitting_hills.jpg');
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
body.overview-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('/static/images/running_road_forrest.jpg');
  background-size: cover;
  background-position: center;
}

/* Style for navbar links */
.navbar-nav .nav-link {
  color: white !important; /* Ensures the color is applied, overriding Bootstrap defaults */
}

/* Optional: Style for the active nav link */
.navbar-nav .nav-link.active {
  color: white !important;
}
